.info-text-upper {
    width: 60%;
    font-size: 24px;
}

@media screen and (max-width: 490px) {

    .navbar-nav-scroll {
        max-height: 200px !important;
    }

    #trade .row {
        width: 100% !important;
    }

    .crypto-info-title-wrapper {
        padding-right: 20px !important;
    }

    .info-text-upper {
        font-size: 20px !important;
        width: 80%;
    }

    #crypto-info .crypto-info-row {
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 660px) {
    #crypto-info .crypto-info-row {
        padding: 0 !important;
        padding-left: 20px !important;
        margin: 0 !important;
    }

    .crypto-info-list {
        margin-top: 50px !important;
    }

}


@media screen and (max-width: 419px) {
    #crypto-info .container-fluid {
        margin-left: 0 !important;
    }

}