#trade {
    background-image: url("/public/img/Background.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 140vh;
    height: 100vh;
}


.trade-upper-text {
    font-size: 1.25rem;
    color: #F7A501;
    margin-top: 110px !important;
}

.trade-text-main {
    font-size: 3rem;
    max-width: 630px;
}

.trade-down-text {
    font-size: 1.2rem;
    max-width: 500px;
}

.header-button-wrapper {
    margin-top: 90px !important;
}

@media screen and (max-width: 1200px) {
    #navbarScroll > .navbar-nav {
        padding-right: 0 !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #navbarScroll > .header-nav-item {
        margin: 0 5px !important;
    }

    .navbar-nav-scroll {
        max-height: 200px !important;
    }

    .trade-upper-text {
        color: white !important;
    }
}

@media screen and (max-width: 1098px) {

    #trade .row {
        width: 1400px !important;
    }
}

@media screen and (max-width: 980px) {

    .navbar-nav-scroll {
        max-height: 200px !important;
    }

    #trade .row {
        width: 100% !important;
    }
}

@media screen and (max-width: 612px) {
    #trade .row {
        margin: 0 10px !important;
        padding: 0 10px !important;
    }

    .header-button-wrapper {
        flex-direction: column;
        margin-top: 40px !important;
    }

    .header-button {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .header-button-wrapper .header-button-v2 {
        margin-top: 20px !important;
        margin-left: 0px !important;
    }

    .header-button-wrapper .header-button-v2 div {
        justify-content: center !important;
    }

    .header-button-wrapper .header-button-v2 div span {
        margin-left: 20px;
    }

    #trade .container-fluid {
        margin-left: 0 !important;
    }

    #trade .trade-text-main {
        margin: 0 !important;
    }

    #trade .trade-upper-text {
        margin-bottom: 0 !important;
    }

    #trade .trade-down-text {
        margin-top: 0 !important;
    }

    #trade .container-fluid > div {
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
    }
}


@media screen and (max-width: 420px) {
    .navbar-brand img {
        width: 150px;
    }

    .container-fluid {
        padding: 0 0 !important;
        margin: 0 20px !important;
    }

    #navbarScroll > .header-nav-item {
        margin: 0 5px !important;
    }
}