.bg-test {
    background-color: black;
}

.header-button {
    border-radius: 40px !important;
    color: black !important;
    font-size: 18px !important;
    font-weight: bold !important;
    background-color: #F7A501 !important;
    width: 220px !important;
}

.header-button:focus {
    border: none !important;
    outline: none !important;
}

.header-button-v2 {
    background-color: transparent !important;
    color: white !important;
}

.header-button-v3 {
    background-color: transparent !important;
    color: black !important;
}

.header-button:hover {
    box-shadow: 0px 0px 10px 8px rgba(247, 165, 1, 0.78);
    transition: 1s !important;
}

.trade-stats-list {
    max-width: 250px;
    position: relative;
    background-image: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0) 15%, rgba(247,165,1,1) 100%);
    border-radius: 45px;
    padding: 2px !important;
    min-height: 300px;
    transition: background-color 2s ease;
}

.trade-stats-list:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0) 15%, rgba(247,165,1,1) 100%);
    opacity: 0;
    transition: all 3s ease-in-out;
    border-radius: 45px;
}

.trade-stats-list:hover:after {
    opacity: 1;
}

.trade-stats-wrapper {
    background: black;
    color: white;
    padding: 2rem;
    border-radius: 45px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}